@import url("https://fonts.cdnfonts.com/css/road-rage");
/* @import url('https://fonts.cdnfonts.com/css/cooper-black'); */

h1,
h2,
h3 {
	text-align: center;
}
p {
	text-align: left;
}
li {
	text-align: left;
}

body {
	background: #121212;
}
/*{
	background: #444444;
	color: #000000;
	font-family: "Linux Libertine Capitals", Arial, Helvetica, sans-serif;
	line-height: 1.5;						
}*/
.page {
	max-width: 900px;
	margin: auto;
	padding: 25px;
	background: hwb(27 45% 18%);
}
.luigi {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  background-image: url('imgs/Luigi_tire_shop.jpg')
}

/* barre de navigation */
.nav-bar {
	background-color: #232323;
	overflow: hidden;
}
/* couleur de la page active */
.nav-bar a.active {
  background-color: #77aa8b;
  color: #ff2d55;
  font-family: "Road Rage", sans-serif;
  font-size: 14px;
}
.nav-bar a {
	float: left;
	color: #f0f0f0;
	text-align: center;
	padding: 12px 12px;
	width: 110px;	/* fixed width (size) */
	height: 25px;	/* fixed height (size) */
	text-decoration: none;
	font-size: 17px;
}
