@import url("https://fonts.cdnfonts.com/css/road-rage");
@import url('https://fonts.cdnfonts.com/css/cooper-black'); */

h1,
h2,
h3 {
	text-align: center;
	font-family: "Cooper Black", sans-serif;
}

p {
	text-align: left;
}
li {
	text-align: left;
}
#hosted-link {
	background-color: #343434;
	color: #fdffff;
}
a {
	color: #9999FF;
	font-family: "American Typewriter", sans-serif;
}

.text-sources {
	background-color: #343434;
	font-family: "American Typewriter", sans-serif;
}
.boite {
	background-color: #101010;
	color: #fdffff;
	font-family: "Road Rage", sans-serif;
	font-size: 45px;
	padding: 10px;
	margin: 5px;
	border-radius: 15px;
	border: 2px solid #8fb0449a;
}
.explanation{
	color: #f3f3f3;
	font-family: "American Typewriter", sans-serif;
	font-size: 27px;
}
.cooper {
	font-size: 50px;
	text-align: center;
	font-family: "Cooper Black", sans-serif;
	color:#000000;
}

/* parfois Xavier ecrit matter parfois mater jsp lequel est bon */
.mater {
	max-width: 800px;
	margin: auto;
	padding: 25px;
	background-image: url('imgs/asphalt_2.jpg')
}

.matter {
	font-size: 50px;
	text-align: center;
	font-family: "American Typewriter, serif";
	color:#ffffff;
}


body {
	background: #121212;
}
.page {
	max-width: 750px;
	margin: auto;
	padding: 25px;
	background: hwb(27 45% 18%);
}
.luigi {
	max-width: 1000px;
	margin: auto;
	padding: 40px;
	background-image: url('imgs/Luigi_tire_shop.jpg')
}

/* barre de navigation */
.nav-bar {
	background-color: #232323;
	overflow: hidden;
}
/* couleur de la page active */
.nav-bar a.active {
	background-color: #77aa8b;
	color: #ff2d55;
	font-family: "Road Rage", sans-serif;
	font-size: 14px;
}
.nav-bar a {
	float: left;
	color: #f0f0f0;
	text-align: center;
	padding: 12px 12px;
	width: 110px;	/* fixed width (size) */
	height: 25px;	/* fixed height (size) */
	text-decoration: none;
	font-size: 17px;
}




/* style utilises pour les cartes dans src/luigi/luigi_shop.html */
.cartes {
	display: flex;
	align-items: center;

	/* The important part */
	padding: 34px 12px;
	gap: -1px;

	min-height: 370px;
	overflow: hidden;
}


.carte {
	position: relative;
	flex: 0 0 320px;
	height: 300px;

	padding: 32px 26px;
	border-radius: 15px;

	background:	rgba(240, 240, 240, 0.8);

	border: 1px solid rgba(255, 255, 255, .035);

	box-shadow:
		0 20px 40px rgba(0, 0, 0, .25),
		inset 0 1px 0 rgba(255, 255, 255, .025);	

	/* pour que elles se supperpose */
	margin-right: -12px;

	transition:
		transform 0.35s cubic-bezier(.2, .8, .2, 1),	/* controle du ~~*rythme~~ de la vitesse */
		filter 0.35s ease;
}

/* modifier les cartes individuellement 
 * rotation basee sur sa position dans le array */
.carte:nth-child(even) {
	transform: rotate(-4deg) translateY(8px);
}
.carte:nth-child(odd) {
	transform: rotate(4deg) translateY(8px);
}

.carte:hover {
	background:	rgba(255, 255, 255, 0.9);
	transform: scale(1.05);	/* scale et tourne droit */
	z-index: 20;
	filter: brightness(1.15);
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	width: 150;
}
